################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaleSystem/.vs/SaleSystem
/SaleSystem/SS.Model/obj/Debug
/SaleSystem/SS.Repositories/obj/Debug
/SaleSystem/SS.Services/obj/Debug
/SaleSystem/SS.ViewLayer/obj/Debug
/SaleSystem/SS.ViewLayer/bin/Debug
/SaleSystem/SS.ViewLayer/.vs
/SaleSystem/SS.Model/.vs
/SaleSystem/SS.Model/bin/Debug
