<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Sistema_Venta;Integrated Security=True;Encrypt=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
    <add name="SSModelContainer" connectionString="metadata=res://*/SaleSystemModel.csdl|res://*/SaleSystemModel.ssdl|res://*/SaleSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=Sistema_Venta;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>